
<!DOCTYPE html>
<html lang="en" dir="ltr" data-bs-theme="light" data-color-theme="Blue_Theme" data-layout="vertical">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Favicon -->
  <link rel="shortcut icon" type="image/png" href="{{ asset('assets/de/images/logos/favicon.png') }}" />

  <!-- Core Css -->
  <link rel="stylesheet" href="{{ asset('assets/de/css/styles.css') }}" />

  <title>Login</title>

  <style>
    .password-toggle-icon {
      position: absolute;
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
    }
  </style>
</head>
<body>
  <!-- Preloader -->
  <!-- <div class="preloader">
    <img src="{{ asset('assets/de/images/logos/favicon.png') }}" alt="loader" class="lds-ripple img-fluid" />
  </div> -->

 <div class="main-content bg-login">
		<div class="page-content">
			<section class="section-login ">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-xl-7 col-lg-6">
							<div class="card auth-box">
								<div class="row g-0">
									<div class="col-lg-12">
										<div class="section-title mt-4 mt-lg-0 p-5">
											<h3 class="title {{ type == 'employer' ? '' : 'text-center' }}">Sign in</h3>
											<p class="text-muted {{ type == 'employer' ? '' : 'text-center' }}">Log in using your credentials
											</p>
											{# <p class="text-muted text-center">49155 moofada Sign 4095522 siciid Up to access the most advanced job search engine in Africa
																																												</p> #}
											<div class="text-center">
												<div class="boxlogoicon text-center">
													{% if type != 'employer' %}

														<a href="{{ path('connect_google')}}"><img src="assets/images/featured-job/go.png" alt="" class="img-fluid rounded-3 text-center"></a>
													{% endif %}
												</div>
												&nbsp;
												{# <div class="boxlogoicon">
																																																	<a href="#"><img src="assets/images/featured-job/fs.png" alt="" class="img-fluid rounded-3"></a>
																																																</div>
																																																&nbsp;
																																																<div class="boxlogoicon">
																																																	<a href="#"><img src="assets/images/featured-job/in.png" alt="" class="img-fluid rounded-3"></a>
																																																</div> #}
											</div>
											{% if type != 'employer' %}

												<div class="container">
													<div class="row mt-2 mb-2">
														<div class="col-lg-5 border01 mt-4"></div>
														<div class="col-lg-5 border01 mt-4"></div>
													</div>
												</div>
											{% endif %}
											<form method="post" onsubmit="" class="contact-form mt-3" name="myForm" id="login_form">

												{# <span id="error-msg"></span> #}

												{# {% if error %}
																																																																									<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
																																																																								{% endif %} #}
													<div class="row"> {% if error %}
														{% if error.message == 'reCAPTCHA validation failed.' %}
															<div class="alert alert-danger">{{ error.message }}</div>
														{% else %}
															<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
														{% endif %}
													{% endif %}
													{% if errorMessage %}
														<div class="alert alert-danger">
															{{ errorMessage }}
														</div>
													{% endif %}
													{% if app.user %}
														<div class="col-lg-12">
															<div class="mb-3 fw-bold">
																You are logged in as
																{{ app.user.userIdentifier }},
																<a class="text-primary" href="{{ path('app_logout') }}">Logout</a>
															</div>
														</div>

													{% endif %}
													<div class="col-lg-12">
														<div class="mb-3">
															<label for="nameInput" class="form-label fs-7">Email ID / User Name</label>
															<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
														</div>
													</div>
													<!--end col-->

													<div class="col-md-12 position-relative">
														<label for="passwordInput" class="form-label fs-7">Password</label>
														<input type="password" name="password" id="inputPassword" class="form-control pass" autocomplete="current-password" required>
														<span id="togglePassword" class="confirm-password-toggle-icon" onclick="togglePasswordVisibility(this)">
															<i class="fa fa-eye"></i>
														</span>

														<!-- <p class="text-end mt-2">
															<a class="text-blue" href="{{ path('app_forgot_password_request') }}">Forgot password?</a>
														</p> -->
													</div>
													<!--end col-->
													<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
												</div>
												<!--end row-->
												<div class="checkbox mb-3">
													<label>
														<input type="checkbox" name="_remember_me">
														Remember me
													</label>
												</div>
												<div class="text-center mt-3">
													<button type="submit" id="submit" name="submit" class="btn btn-primary lo_pa" data-sitekey="{{ site_key }}" data-callback='onSubmit' data-size="invisible">
														Log In</button>
												</div>
											</form>
											
										</div>
									</div>
								</div>
								<!--end row-->
							</div>
							<!--end auth-box-->
						</div>
					</div>
				</div>
			</section>

		</div>
	</div>

	<script>

		function onSubmit(token) {
var form = document.getElementById('login_form');

if (form.reportValidity()) {
HTMLFormElement.prototype.submit.call(form);
}
// console.log('Form is being submitted'); // Debugging to see if this gets called
// console.log(document.getElementById('register_form'))
// document.getElementById('register_form').submit(); // Correctly targeting the form by ID
}
	</script>
	<script src="https://www.google.com/recaptcha/api.js" async defer></script>

	<script>
		function togglePasswordVisibility($this) {

var passwordInput = $this.closest('div').querySelector('.pass');
var toggleIcon = $this.closest('div').querySelector('#togglePassword');

if (passwordInput.type === 'password') {
passwordInput.type = 'text';
toggleIcon.innerHTML = '<i class="fa fa-eye-slash"></i>';
} else {
passwordInput.type = 'password';
toggleIcon.innerHTML = '<i class="fa fa-eye"></i>';
}
}
	</script>
</body>
</html>
