{% for course in courses %}
	<div class="col-lg-4 col-md-6 mt-4">
		<div class="card job-grid-box">
			<div class="card-body p-4">
				<div>
					<div
						class="favorite-icon d-flex flex-column align-items-end">
					</div>
					<div class="boxlogoicon">
						<a href="#"><img class="logo-size" src="{{ path('profile_image', {'filename': course.employer.employerDetails.logo ?? 'empty' }) }}"  alt="" class="img-fluid rounded-3"></a>
					</div>
				</div>
				<div class="mt-4">
					<a href="{{ path('job_seeker_course_details', {'slug': course.title|slugify, 'uuid': course.uuid}) }}" class="primary-link">
						<h5>{{ course.employer.name}}</h5>
						<h5 class="fs-16 mb-3">{{ course.title ?? ''}}</h5>
					</a>
					<p class="text-muted">
						<span style="padding-right:10px;">
							<i class="fa fa-map-marker" aria-hidden="true"></i>
							&nbsp;{{ (course.country.name ?? '') ~ ', ' ~ (course.city.name ?? '')}}
						</span>
					</p>
				</div>
				<div class="job-grid-content mt-2">
					<p class="text-muted">{{ (course.description)|shorten(220) }}</p>
					<ul
						class="list-inline">
					</ul>
					<div class="d-flex align-items-center justify-content-between border-top mt-2 pt-1">
						<p class="text-mutedse float-start mb-0">Expires in
							<span style="font-weight:500;color:#666;">{{ course.expiresAt }}</span>
						</p>
						<div class="text-end">
							<i>
								Posted
								{{ course.postedAt }}</i>
						</div>
					</div>
				</div>
			</div>
			<!--end card-body-->
		</div>
		<!--end job-grid-box-->
	</div>
{% endfor %}
