{% extends 'admin_base2.html.twig' %}

{% block title %}
	{% if type %}
		Manually Shortlisted Candidates
	{% else %}
		Candidates
	{% endif %}
{% endblock %}

{% block body %}
</div>
<div class="" data-controller="employer">


	<div class="card bg-info-subtle shadow-none position-relative overflow-hidden mb-4">
		<div class="card-body px-4 py-3">
			<div class="row align-items-center">
				<div class="col-9">
					<h4 class="fw-semibold mb-8">
						<i class="ti ti-users fs-8 "></i>
						{{type == "yes" ? "Manually Shortlisted Candidates" : "Candidates"}}</h4>
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item">
								<a class="text-muted text-decoration-none" href="#">{{type == "yes" ? "Manually Shortlisted Candidates" : "Candidates"}}</a>
							</li>
							<li class="breadcrumb-item" aria-current="page">{{ type == "yes" ? "Manually Shortlisted Candidates" : "Candidates"}}
								List</li>
						</ol>
					</nav>
				</div>
				<div class="col-3">
					<div class="text-center">
						<img src="{{ asset('assets/images/candidate.png') }}" alt="modernize-img" class="iconn img-fluid mb-n4">
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="row">
		<div class="col-12">
			<div

				class="datatables">
				<!-- start File export -->
				<div class="card">
					<div
						class="card-body">
						{# <div class="mb-2">
																																																																																				<h4 class="card-title mb-0">File export</h4>
																																																																																				<img src="data:image/png;base64,iVBORwkhzAAQAAAABJRU5ErkJggg==" alt="Placeholder Image">
																																																																																			</div> #}

						<ul class="nav nav-pills user-profile-tab" id="pills-tab" role="tablist">
							<li class="nav-item" role="presentation">
								<a href="{{ path("app_employer_candidates") }}" class="nav-link position-relative rounded-0 {{type ? " " : " active" }} d-flex align-items-center justify-content-center bg-transparent fs-3 py-3" aria-selected="true">
									<i class="ti ti-user-circle me-2 fs-6"></i>
									<span class="d-none d-md-block">Applied Candidates</span>
								</a>
							</li>
							<li class="nav-item" role="presentation">
								<a href="{{ path("app_employer_candidates",{'type': 'shortlisted'}) }}" class="nav-link position-relative rounded-0 {{type == " shortlisted" ? " active" : " " }} d-flex align-items-center justify-content-center bg-transparent fs-3 py-3" aria-selected="false">
									<i class="ti ti-bell me-2 fs-6"></i>
									<span class="d-none d-md-block">Shortlisted Candidates</span>
								</a>
							</li>
							<li class="nav-item" role="presentation">
								<a href="{{ path("app_employer_candidates",{'type': 'hired'}) }}" class="nav-link position-relative rounded-0 {{type == " hired" ? " active" : " ssss " }} d-flex align-items-center justify-content-center bg-transparent fs-3 py-3" aria-selected="false">
									<i class="ti ti-article me-2 fs-6"></i>
									<span class="d-none d-md-block">Hired Candidates</span>
								</a>
							</li>
							<li class="nav-item" role="presentation">
								<a href="{{ path("app_employer_candidates",{'type': 'rejected'}) }}" class="nav-link position-relative rounded-0 {{type == " rejected" ? " active" : " ssss " }} d-flex align-items-center justify-content-center bg-transparent fs-3 py-3" aria-selected="false">
									<i class="ti ti-article me-2 fs-6"></i>
									<span class="d-none d-md-block">Rejected Candidates</span>
								</a>
							</li>
						</ul>

						<div class="table-responsive">
							<table id="accounts" class="table w-100 table-striped table-bordered display text-nowrap" width="100%">
								<thead>
									<!-- start row -->
									<tr>
										<th>Applicant Name</th>
										<th>Applied Job Title</th>
										<th>Job ID</th>
										<th>Application Date</th>
										<th>Education</th>
										<th>Experience</th>
										<th>Cover Letter</th>
										<th>Status</th>
										<th>Actions</th>
									</tr>
									<!-- end row -->
								</thead>
								<tbody>
									<!-- start row -->
									{% for item in applications %}

										<tr>
											<td>{{item.jobseeker.name}}</td>
											<td>{{item.job ? item.job.title : ""}}</td>
											<td>JOB-{{item.job ? item.job.id : "N/A"}}</td>
											<td>{{ item.createdat|date('d-m-Y') }}</td>
											<td>
												{{item.jobseeker.jobseekerresume.education  > -1 ? item.jobseeker.jobseekerresume.education|educationNumberToString : ""}}
											</td>
											<td>
												{{item.jobseeker.jobseekerresume.experience > -1 ? item.jobseeker.jobseekerresume.experience|numberToString : ""}}</td>
											<td>
												{% if item.coverLetter %}
													<a class="btn primary_two" target="_blank" href="{{ asset('uploads/'~ item.coverLetter)}}">
														<i class="ti ti-file text-white fs-6"></i>
														Preview File</a>
												{% endif %}
											</td>
											<td>
												{% if item.status == "interview scheduled" %}
													{# <span class="mb-1 badge text-bg-success">Interview st rd</span> #}
												{% else %}
													{{item.status|capitalizeWords}}
												{% endif %}

											</td>
											<td>
												<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
													<div class="btn-group me-2 mb-2" role="group" aria-label="First group">
														<a data-type="resume" data-can="{{item.jobseeker.id}}" data-action="click->employer#scheduleInterview" href="#" class="btn primary_one text-white">
															<i class="ti ti-user-circle fs-4"></i>
															View Profile
														</a>
														{% if item.status == "applied" and item.status != "rejected" %}
															<a href="#" data-status="shortlisted" data-can="{{item.id}}" data-action="click->employer#shortlistCandidate" class="btn text-white primary_two">
																<i class="ti ti-user-check fs-4"></i>
																Shortlist
															</a>
														{% elseif item.status == "shortlisted" and item.status != "rejected" %}
															<a data-type="schedule interview" href="#" data-status="shortlisted" data-can="{{item.id}}" data-action="click->employer#scheduleInterview" class="btn text-white primary_two">
																<i class="ti ti-edit fs-4"></i>
																Schedule Interview
															</a>
														{% elseif item.status == "selected" or item.status == "sent offer"   %}
															<a data-bs-dismiss="modal" data-type="send offer" href="#" data-status="send offer" data-can="{{item.id}}" data-action="click->employer#scheduleInterview" class="btn text-white primary_two">
																<i class="ti ti-calendar fs-4"></i>
																Send Offer/ Hire
															</a>
														{% elseif item.status == "interview scheduled"   or item.status == "selected" or item.status == "sent offer"   %}
															<a data-type="interview result" href="#" data-status="interview scheduled" data-can="{{item.id}}" data-action="click->employer#scheduleInterview" class="btn text-white primary_two">
																<i class="ti ti-calendar fs-4"></i>
																Result/Schedule
															</a>

														{% endif %}
														{% if item.status != "rejected" %}
															<a data-type="rejected" href="#" data-status="rejected" data-can="{{item.id}}" data-action="click->employer#shortlistCandidate" class="btn  text-white primary_three">
																Reject
															</a>
															<a href="#" data-type="message" data-status="message" data-can="{{item.jobseeker.id}}" data-action="click->employer#shortlistCandidate" class="btn text-white primary_four">
																<i class="ti ti-message fs-4"></i>
																Message
															</a>
														{% endif %}

													</div>
												</div>
											</td>
										</tr>
									{% endfor %}

									<!-- end row -->
								<!-- start row -->
									<!-- end row -->
								</tbody>
							</tfoot>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- end File export -->
</div>{% endblock %}
