{% extends 'admin_base2.html.twig' %}

{% block title %}Post Tender/Bid!
{% endblock %}

{% block body %}
	<style>
		.ts-dropdown,
		.ts-dropdown.form-control,
		.ts-dropdown.form-select {
			height: auto;
			padding: 0;
			z-index: 1000;
			background: var(--bs-body-bg);
			border: 1px solid var(--bs-border-color-translucent);
			border-radius: 0.375rem;
			box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
			background-color: #fafafa !important;
		}
	</style>
	<div class="container">
		<section class="section-re-de ">


			<div class=" p-3 d-flex align-items-center rounded-3 row">
				<div class="col-lg-8 pa-les-img">
					<div class="flex-grow-1 ms-3 mt-3 mx-3">
						<h6 class="fs-21 mt-0 sufont ">
							<div class="boxlogoiconcm text-green">
								<i class="fa fa-briefcase" aria-hidden="true"></i>
							</div>
							&nbsp; Post Tender/Bid</h6>
					</div>
				</div>
				<div class="col-lg-4 right-end">
					<button type="button" class="btn btn-danger waves-effect waves-light mb-2">Mark Bid as closed</button>
					&nbsp;
					<button type="button" class=" btn btn-outline-primary waves-effect waves-light mb-2" data-toggle="modal" data-target=".abs-example-modal-lg">Post a new tender</button>
				</div>
			</div>
		</section>
		{{ form_start(form) }}
		<div class="row">
			<div class="col-12">
				<div class="title title-xs title-wth-divider text-primary text-uppercase my-4">
					<h5 class="modal-title mt-4  fs-18 mb-3" id="myLargeModalLabel">Basic Details</h5>
				</div>

				<ul class="error-list">
					{% for error in form_errors(form) %}
						<li>{{ error.message }}</li>
					{% endfor %}
				</ul>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label class="form-label">{{ form_label(form.tender_title) }}</label>
					{{ form_widget(form.tender_title) }}
				</div>
			</div>
            
			<div class="col-md-6">
				<div class="form-group">
					<label class="form-label">{{ form_label(form.tender_duration) }}</label>
					{{ form_widget(form.tender_duration) }}
				</div>
			</div>

            <div class="col-md-6">
				<div class="form-group">
					<label class="form-label">{{ form_label(form.scope) }}</label>
					{{ form_widget(form.scope) }}
				</div>
			</div>
            <div class="col-md-6">
				<div class="form-group">
					<label class="form-label">{{ form_label(form.tender_experience_skills) }}</label>
					{{ form_widget(form.tender_experience_skills) }}
				</div>
			</div>

            <div class="col-md-6">
				<div class="form-group">
					<label class="form-label">{{ form_label(form.company_name) }}</label>
					{{ form_widget(form.company_name) }}
				</div>
			</div>
            <div class="col-md-6">
				<div class="form-group">
					<label class="form-label">{{ form_label(form.contact_name) }}</label>
					{{ form_widget(form.contact_name) }}
				</div>
			</div>

            <div class="col-md-6">
				<div class="form-group">
					<label class="form-label">{{ form_label(form.contact_email) }}</label>
					{{ form_widget(form.contact_email) }}
				</div>
			</div>
            <div class="col-md-6">
				<div class="form-group">
					<label class="form-label">{{ form_label(form.contact_phone) }}</label>
					{{ form_widget(form.contact_phone) }}
				</div>
			</div>
		</div>
		{{ form_end(form) }}


	</div>
{% endblock %}
