{% extends 'admin_base2.html.twig' %}

{% block title %}Post Job!
{% endblock %}

{% block body %}
	<div class="container-fluid">


		<div class="card bg-info-subtle shadow-none position-relative overflow-hidden mb-4">
			<div class="card-body px-4 py-3">
				<div class="row align-items-center">
					<div class="col-9">
						<h4 class="fw-semibold mb-8">Job Posting</h4>
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item">
									<a class="text-muted text-decoration-none" href="#">Home</a>
								</li>
								<li class="breadcrumb-item" aria-current="page">""</li>
							</ol>
						</nav>
					</div>
					<div class="col-3">
						<div class="text-center mb-n5">
							<img src="{{ asset('assets/de/images/breadcrumb/ChatBc.png') }}" alt="modernize-img" class="img-fluid mb-n4">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="containerss">

			<div class="row">
				<div class="col-12"></div>
				<div class="col-md-6"></div>
				<div class="col-md-6">
					<div class="form-group"></div>
				</div>
			</div>


		</div>
		<div class="card" data-controller="employer">
			<div class="card-body wizard-content">
				<h4 class="card-title mb-0">Create a new job</h4>
				<h6 class="card-subtitle mb-3"></h6>
				{# {{ form_start(form, {'attr': {'class': 'validation-wizard wizard-circle mt-5'}}) }} #}
				{{ form_start(form, {'attr': {'class': 'validation-wizard wizard-circle mt-5'}}) }}
				<ul class="error-list">
					{% for error in form_errors(form) %}
						<li>{{ error.message }}</li>
					{% endfor %}
				</ul>
				<!-- Step 1 -->
				<h6>Basic Details</h6>
				<section>
					{# <h5 class="fs-4 fw-semibold mb-4">Account Details</h5> #}
					<div class="row">
						<div class="col-lg-6">
							<div class="mb-4">
								<label for="exampleInputtext3" class="form-label">Job Title</label>
								<span class="text-danger">*</span>
								{{ form_widget(form.jobtitle) }}
							</div>
							<div>
								<label class="form-label">Job Types</label>
								<span class="text-danger">*</span>
								<div class="input-group">
									{{ form_widget(form.job_types) }}
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="mb-4">
								<label class="form-label">Job Category</label>
								<span class="text-danger">*</span>
								<div class="input-group">
									{{ form_widget(form.job_category) }}
								</div>
							</div>
							<div class="mb-4">
								<label class="form-label">Industry</label>
								<span class="text-danger">*</span>
								<div class="input-group">
									{{ form_widget(form.industry) }}
								</div>
							</div>

						</div>
						<div class="col-lg-6">
							<div class="mb-4">
								<label class="form-label">Number of positions</label>
								<span class="text-danger">*</span>
								<div class="input-group">
									{{ form_widget(form.number_position) }}
								</div>
							</div>

						</div>
						<div class="col-lg-6">
							<div class="mb-4">
								<label class="form-label">Work Type</label>
								<span class="text-danger">*</span>
								<div class="input-group">
									{{ form_widget(form.work_type, {'attr': {'required': true}}) }}
								</div>
							</div>

						</div>
						<div class="col-lg-6">
							<div class="mb-4">
								<label class="form-label">Experience</label>
								<div class="input-group">
									{{ form_widget(form.experience, {'attr': {'required': false}}) }}
								</div>
							</div>

						</div>
						<div class="col-lg-6">
							<div class="mb-4">
								<label class="form-label">Work Shift</label>
								<div class="input-group">
									{{ form_widget(form.shift, {'attr': {'required': false}}) }}
								</div>
							</div>

						</div>
						<div class="col-lg-12">
							<div class="form-group mb-4">
								<label class="form-label">Job Description</label>
								<span class="text-danger">*</span>
								{{ form_widget(form.job_description, {'attr': {'rows': 5}}) }}
								<small id="textHelp" class="form-text text-muted">Job Description</small>
							</div>
						</div>
					</div>
				</section>
				<!-- Step 2 -->
				<h6>Salary & Location Details</h6>
				<section>
					<h5 class="fs-4 fw-semibold mb-4">Salary Details</h5>
					<div class="row">
						<div class="col-lg-4">
							<div class="mb-4">
								<label for="exampleInputtext3" class="form-label">Minimum Pay</label>
								{{ form_widget(form.minimum_pay) }}
							</div>

						</div>
						<div class="col-lg-4">
							<div class="mb-4">
								<label class="form-label">Maxmimum Pay</label>
								<div class="input-group">
									{{ form_widget(form.maximum_pay) }}
								</div>
							</div>


						</div>
						<div class="col-lg-4">
							<div class="mb-4">
								<label class="form-label">Currency</label>
								<span class="text-danger">*</span>
								<div class="input-group">
									{{ form_widget(form.currency) }}
								</div>
							</div>

						</div>

						<div class="col-lg-6">
							<div class="mb-4">
								<label class="form-label">Amount By</label>
								<div class="input-group">
									{{ form_widget(form.mentioned_amount_by) }}
								</div>
							</div>

						</div>
						<div class="col-lg-6">
							<div class="mb-4">
								<label class="form-label">Display Salary</label>
								<div class="input-group">
									{{ form_widget(form.show_salary) }}
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="mb-4">
								<label class="form-label">Benefits</label>
								<span class="text-danger">*</span>
								<div class="input-group">
									{{ form_widget(form.benefits) }}
								</div>
							</div>
						</div>
					</div>
					<h5 class="fs-4 fw-semibold mb-4">Location Details</h5>
					<div class="row">
						<div class="col-lg-6">
							<div class="mb-4">
								<label for="exampleInputtext3" class="form-label">Country</label>
								<span class="text-danger">*</span>
								{{ form_widget(form.country) }}
							</div>

							<div class="mb-4">
								<label class="form-label">City</label>
								<span class="text-danger">*</span>
								<div class="input-groupa">
									{{ form_widget(form.city) }}
								</div>
							</div>
						</div>
						<div class="col-lg-6">

							<div class="mb-4">
								<label class="form-label">States</label>
								<div class="input-group">
									{{ form_widget(form.states) }}
								</div>
							</div>

							<div>
								<label class="form-label">Location - Address line</label>
								<div class="input-group">
									{{ form_widget(form.location) }}
								</div>
							</div>
						</div>

						<div class="col-lg-6 mb-4">
							<label class="form-label">Zip Code</label>
							<div class="input-group">
								{{ form_widget(form.zipe_code) }}
							</div>
						</div>

					</div>
				</section>
				<!-- Step 3 -->
				<h6>Skills & Education</h6>
				<section>
					<h5 class="fs-4 fw-semibold mb-4">Skill Details</h5>
					<div class="row">
						<div class="col-lg-6">
							<div class="mb-4">
								<label for="exampleInputtext3" class="form-label">Required Skills</label>
								<span class="text-danger">*</span>
								{{ form_widget(form.required_skill) }}
							</div>

						</div>
						<div class="col-lg-6">
							<div class="mb-4">
								<label class="form-label">Preferred Skills</label>
								<span class="text-danger">*</span>
								<div class="input-group">
									{{ form_widget(form.preferred_skill) }}
								</div>
							</div>


						</div>

					</div>
					<h5 class="fs-4 fw-semibold mb-4">Education Details</h5>
					<div class="row">
						<div class="col-lg-4">
							<div class="mb-4">
								<label for="exampleInputtext3" class="form-label">Education Required</label>
								<span class="text-danger">*</span>
								{{ form_widget(form.education_required) }}
							</div>

						</div>
						<div class="col-lg-4">
							<div class="mb-4">
								<label class="form-label">Certification Required</label>
								<span class="text-danger">*</span>
								<div class="input-group">
									{{ form_widget(form.certification_required) }}
								</div>
							</div>


						</div>
						<div class="col-lg-4">
							<div class="mb-4">
								<label class="form-label">Certifications</label>
								<div class="input-group">
									{{ form_widget(form.certifications) }}
								</div>
							</div>


						</div>
						<div class="col-lg-12">
							<div class="mb-4">
								<label class="form-label">Other Requirements</label>
								<span class="text-danger">*</span>
								<div class="input-group">
									{{ form_widget(form.other_requirements, {'attr': {'rows': 5}}) }}
								</div>
							</div>


						</div>

					</div>
				</section>
				<!-- Step 4 -->
				<h6>Posting</h6>
				<section>
					<h5 class="fs-4 fw-semibold mb-4">Posting Details & Quesitions</h5>
					<div class="row">
						<div class="col-lg-6">
							<div class="mb-4">
								<label for="exampleInputtext3" class="form-label">Locals/Citizens Only</label>
								{{ form_widget(form.locals_only) }}
							</div>

						</div>
						<div class="col-lg-6">
							<div class="mb-4">
								<label class="form-label">Immediate Hiring</label>
								<div class="input-group">
									{{ form_widget(form.immediate_hiring) }}
								</div>
							</div>


						</div>
						<div class="col-lg-6">
							<div class="mb-4">
								<label for="exampleInputtext3" class="form-label">External Link</label>
								{{ form_widget(form.external_link) }}
							</div>

						</div>
						<div class="col-lg-6">
							<div class="mb-4">
								<label class="form-label">Application closing date</label>
								<span class="text-danger">*</span>
								<div class="input-group">
									{{ form_widget(form.application_closing_date) }}
								</div>
							</div>


						</div>
						<div class="col-lg-6">
						<button type="submit" class="btn rounded-pill waves-effect waves-light btn-primary">
                        Save & Continue
                      </button>
						</div>
						
					</div>
				</section>
				{{ form_end(form) }}
			</div>
		</div>
	</div>
{% endblock %}
