{% extends 'base.html.twig' %}

{% block title %}Employer Registration
{% endblock %}

{% block body %}
	<style>
		.password-toggle-icon {
			position: absolute;
			right: 15px;
			top: 68%;
			transform: translateY(-50%);
			cursor: pointer;
		}

		.confirm-password-toggle-icon {
			position: absolute;
			right: 15px;
			top: 68%;
			transform: translateY(-50%);
			cursor: pointer;
		}

		.form_error li {
			color: rgb(218 55 70) !important
		}
	</style>
	<section class="section-login ">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-xl-11 col-lg-12">
					<div class="card auth-box">
						<div class="row g-0">
							<div class="col-lg-6 bg_em">
								<div class="  p-5 h-100 text-dark">
									<div class="w-100">
										<div class="text-center mb-4 mt-5">
											<div class="gifbgem">
												<img src="{{asset('assets/images/sign_up.gif')}}" alt="" class="img-fluid rounded-3"></div>
											<ul class="list-unstyled pricing-details fs-14  text-dark text-start mt-5 ne">
												<li class="pricing-item"><img class="img-fluid" src="{{asset('assets/images/si.png')}}" alt="">Join our platform and create your employer profile today.</li>
												<li class="pricing-item"><img class="img-fluid" src="{{asset('assets/images/si.png')}}" alt="">Access a pool of qualified candidates for your company.</li>
												<li class="pricing-item"><img class="img-fluid" src="{{asset('assets/images/si.png')}}" alt="">Post your job openings and receive applications directly to your email</li>
												<li class="pricing-item"><img class="img-fluid" src="{{asset('assets/images/si.png')}}" alt="">Find the right fit for your team, whether you need to fill a position quickly or plan for long-term growth</li>
												<li class="pricing-item"><img class="img-fluid" src="{{asset('assets/images/si.png')}}" alt="">Connect with top talent and grow your business</li>
											</ul>
											<p class="text-primary pt-3">
												Log in and start browsing if you already have an account in here
											</p>
										</div>

									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="section-title mt-4 mt-lg-0 p-5">
									<h3 class="title ">Employer’s Signup</h3>
									{# <p class="text-muted ">Sign In to access the most advanced job search engine in Africa</p> #}
									<p class="text-muted ">Sign In to access the most advanced job search engine
									</p>


									<div class="container">
										{{ form_start(form, {'action': path('app_signup_employer'), 'method': 'POST', 'attr': {'id': 'register_form'}}) }}
										<div class="col-lg-12">
											<div class="mb-3">
												<label for="formGroupExampleInput" class="form-label  fs-13">{{ form_label(form.name) }}</label>

												{{ form_widget(form.name, {'attr': {'class': (form_errors(form.name) ? 'form-control is-invalid' : 'form-control'), 'placeholder': 'What is Company Name'}}) }}
												<div class="form_error">
													{{ form_errors(form.name) }}
												</div>
											</div>
										</div>
										<div class="col-lg-12">
											<div class="mb-3">
												<label for="formGroupExampleInput" class="form-label  fs-13">Email ID</label>

												{{ form_widget(form.email, {'attr': {'class': (form_errors(form.email) ? 'form-control is-invalid pass' : 'form-control pass'), 'placeholder': 'What is your email id?'}}) }}
												<div class="form_error">
													{{ form_errors(form.email) }}
												</div>
											</div>
										</div>
										<div class="col-lg-12">
											<div class="mb-3 position-relative">
												<label for="formGroupExampleInput" class="form-label  fs-13">Password</label>

												{{ form_widget(form.plainPassword, {'attr': {'class': (form_errors(form.plainPassword) ? 'form-control pass is-invalid' : 'form-control pass'), 'placeholder': 'Create a password for your account'}}) }}
												<span id="togglePassword" class="password-toggle-icon" onclick="togglePasswordVisibility(this)">
													<i class="fa fa-eye"></i>
												</span>
												<div class="form_error">
													{{ form_errors(form.plainPassword) }}
												</div>
											</div>
										</div>
										<div class="col-lg-12">
											<div class="mb-3 position-relative">
												<label for="formGroupExampleInput" class="form-label  fs-13">Confirm</label>

												{{ form_widget(form.confirmPassword, {'attr': { 'placeholder': 'Confirm your password', 'class': (form_errors(form.confirmPassword) ? 'form-control pass is-invalid' : 'form-control pass')}}) }}
												<span id="togglePassword" class="confirm-password-toggle-icon" onclick="togglePasswordVisibility(this)">
													<i class="fa fa-eye"></i>
												</span>
												<div class="form_error">
													{{ form_errors(form.confirmPassword) }}
												</div>
											</div>
										</div>
										<div class="col-lg-12">
											<div class="mb-3">
												<label for="formGroupExampleInput" class="form-label  fs-13">{{ form_label(form.agreeTerms) }}</label>

												{{ form_widget(form.agreeTerms, {'attr': { 'placeholder': 'Confirm your password for your account for your account', "class": (form_errors(form.agreeTerms) ? 'form-check-input is-invalid' : 'form-check-input')}}) }}
												<div class="form_error">
													{{ form_errors(form.agreeTerms) }}
												</div>
												<label class="form-check-label ms-2 fs-11" for="SMS">By clicking Agree terms, you agree to the
													<a target="__blank" class="text-primary" href="{{ path("app_home_terms") }}">Terms and Conditions</a>
													&amp;
													<a target="__blank" class="text-primary" href="{{ path("app_home_privacy") }}">Privacy Policy of Metier metier-quest.com</a>
												</label>
											</div>
										</div>
										<div class="col-lg-12">
											<div class="text-center mt-3">
												<button type="submit" id="testing-element" class="lo_pa btn btn-primary g-recaptcha" data-sitekey="{{ site_key }}" data-callback='onSubmit' data-size="invisible">Save</button>
											</div>
										</div>
										<div class="col-lg-12">
											<p class="mt-3 text-center">Are you a job seeker? &nbsp;<a href="{{ path('app_jobseeker_register') }}" class="fw-medium text-decoration-underline text-purple">Register in here
												</a>
											</p>
										</div>


										{{ form_end(form) }}
									</div>
								</div>

								<!--end col-->
							</div>
							<!--end row-->
						</div>
						<!--end auth-box-->
					</div>


				</div>
			</div>
		</section>
		<script>

			function onSubmit(token) {
var form = document.getElementById('register_form');

if (form.reportValidity()) {
HTMLFormElement.prototype.submit.call(form);
}
// console.log('Form is being submitted'); // Debugging to see if this gets called
// console.log(document.getElementById('register_form'))
// document.getElementById('register_form').submit(); // Correctly targeting the form by ID
}
		</script>

		<script src="https://www.google.com/recaptcha/api.js" async defer></script>
		<script>
			function togglePasswordVisibility($this) {

var passwordInput = $this.closest('div').querySelector('.pass');
var toggleIcon = $this.closest('div').querySelector('#togglePassword');

if (passwordInput.type === 'password') {
passwordInput.type = 'text';
toggleIcon.innerHTML = '<i class="fa fa-eye-slash"></i>';
} else {
passwordInput.type = 'password';
toggleIcon.innerHTML = '<i class="fa fa-eye"></i>';
}
}
		</script>
	{% endblock %}
