{{ form_start(form) }}
    {# Display the dynamic message if it exists #}
    {% if message is defined and message %}
        <div class="alert alert-info">
            {{ message|raw }}
        </div>
    {% endif %}

    {# Display general form errors if any #}
    {% if form.vars.errors|length > 0 %}
        <div class="alert alert-danger">
            {% for error in form.vars.errors %}
                <p>{{ error.message }}</p>
            {% endfor %}
        </div>
    {% endif %}

    <div class="row">
        {% for field in form %}
            {% if field.vars.name != '_token' %}
                <div class="{{ field.vars.attr.col_class|default('col-12') }}">
                    {{ form_label(field) }}
                    {{ form_widget(field) }}
                    {{ form_errors(field) }}
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <button type="submit" class="btn btn-primary mt-5 mb-5">Update</button>
{{ form_end(form) }}
