<!DOCTYPE html>
<html lang="en" dir="ltr" data-bs-theme="light" data-color-theme="Blue_Theme" data-layout="vertical">

	<head>
		<!-- Required meta tags -->
		<meta charset="UTF-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		{# {% block title %}Admin!	{% endblock %} #}

		<!-- Favicon icon-->
		<link rel="shortcut icon" type="image/png" href="{{ asset('assets/images/hero-logo.png') }}"/> 
		<!-- Core Css -->
			{% block stylesheets %}
			<link href="{{ asset('assets/de/libs/datatables.net-bs5/css/dataTables.bootstrap5.min.css') }}" rel="stylesheet" type="text/css"/> <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.dataTables.min.css">
			<link href="{{ asset('assets/de/css/styles.css') }}" rel="stylesheet" type="text/css"/>
			<link rel="stylesheet" href="{{ asset('assets/de/libs/select2/dist/css/select2.min.css') }}">

			<style>
				.cke_notification_warning {
					display: none !important;
				}
				.awa {
					font-size: 23px;
				}


				.mmm {
					margin-right: 14px;
					display: flex;
					align-items: center;
					justify-content: center;

				}
				.loader-div {
					display: none;
					position: fixed;
					margin: 0;
					padding: 0;
					right: 0;
					top: 0;
					width: 100%;
					height: 100%;
					background-color: #fff;
					z-index: 30001;
					opacity: 0.8;
				}
				.loader-img {
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					margin: auto;
				}
				h6 {
					font-size: 18px;
					font-weight: bold;
					color: black;
				}
				p {
					font-size: 16px;
					color: black;
				}
				.iconn {
					width: 28%;
					padding: 7px 0;
					margin: 0;
				}
				.primary_one {
					background-color: #51006A !important;
					color: white !important;
				}

				.primary_two {
					background-color: #6e3278 !important;
					color: white !important;
				}

				.primary_three {
					background-color: #95599e !important;
					color: white !important;
				}
				.primary_four {
					background-color: #917994 !important;
					color: white !important;
				}

				@media (min-width: 1300px) {
    [data-layout=vertical] body[data-sidebartype=mini-sidebar] .logo-img {
        width: 100% !important;
        overflow: visible !important;
    }
}
			</style>
		{% endblock %}

		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>

	<body
		class="link-sidebar">

		<!-- Preloader -->
		<div class="preloader">
			<img src="{{ asset('assets/images/hero-logo.png') }}" alt="loader" class="lds-ripple img-fluid"/>
		</div>
		<div
			id="main-wrapper">
			<!-- Sidebar Start -->
			<aside class="left-sidebar with-vertical">
				<div>
					<!-- ---------------------------------- -->
					<!-- Start Vertical Layout Sidebar -->
					<!-- ---------------------------------- -->
						<div class="brand-logo ps-0 d-flex align-items-center justify-content-center"> <a href="/" class="text-nowrap logo-img">
							<img src="{{ asset('assets/images/hero-logo.png') }}" class="rajo-logo" alt="Rajo-Logo" style="max-width:140px;"/>
						</a>
						<a href="javascript:void(0)" class="sidebartoggler ms-auto text-decoration-none fs-5 d-block d-xl-none">
							<i class="ti ti-x"></i>
						</a>
					</div>


					<nav class="sidebar-nav scroll-sidebar" data-simplebar>
						<ul id="sidebarnav">
							<li class="nav-small-cap">
								<i class="ti ti-dots nav-small-cap-icon fs-4"></i>
								<span class="hide-menu">Home</span>
							</li>
							<!-- ---------------------------------- -->
							<!-- Dashboard -->
							<!-- ---------------------------------- -->
        {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_USER') %}
                                  
									<li class="sidebar-item"> <a class="sidebar-link" href="{{path('app_admin')}}" id="get-url" aria-expanded="false">
										<span>
											<i class="ti ti-layout-grid"></i>
										</span>
										<span class="hide-menu">Dashboard</span>
									</a>
								</li>
								<li class="sidebar-item">
									<a class="sidebar-link" href="{{path('app_admin_kaaba_applications')}}" aria-expanded="false">
										<span>
											<i class="ti ti-file-text"></i>
										</span>
										<span class="hide-menu">Application Reports</span>
									</a>
								</li>
								
								  {# Hide Users Management for ROLE_USER #}
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <li class="sidebar-item">
                    <a class="sidebar-link" href="{{path('app_admin_accounts')}}" aria-expanded="false">
                        <span>
                            <i class="ti ti-users"></i>
                        </span>
                        <span class="hide-menu">Users Management</span>
                    </a>
                </li>
            {% endif %}

								<li class="sidebar-item">
									<a class="sidebar-link" href="{{path('app_employer_account_settings')}}" aria-expanded="false">
										<span>
											<i class="ti ti-photo-check"></i>
										</span>
										<span class="hide-menu">Account Settings</span>
									</a>
								</li>
								
								<li class="sidebar-item">
              <a class="sidebar-link has-arrow" href="javascript:void(0)" aria-expanded="false">
                <span class="d-flex">
                  <i class="ti ti-settings"></i>
                </span>
                <span class="hide-menu">Settings</span>
              </a>
              <ul aria-expanded="false" class="collapse first-level">
                <!-- Kaaba Academic Settings -->
        <li class="sidebar-item">
            <a class="sidebar-link has-arrow" href="javascript:void(0)" aria-expanded="false">
                <div class="round-16 d-flex align-items-center justify-content-center">
                    <i class="ti ti-school"></i>
                </div>
                <span class="hide-menu">Academic</span>
            </a>
            <ul aria-expanded="false" class="collapse second-level">
                <li class="sidebar-item">
                    <a href="{{ path('app_admin_kaaba_courses') }}" class="sidebar-link">
                        <div class="round-16 d-flex align-items-center justify-content-center">
                            <i class="ti ti-book"></i>
                        </div>
                        <span class="hide-menu">Courses</span>
                    </a>
                </li>
              {% if is_granted('ROLE_SUPER_ADMIN') %}
                <li class="sidebar-item">
                    <a href="{{ path('app_admin_kaaba_institutes') }}" class="sidebar-link">
                        <div class="round-16 d-flex align-items-center justify-content-center">
                            <i class="ti ti-building"></i>
                        </div>
                        <span class="hide-menu">Institutes</span>
                    </a>
                </li>
{% endif %}
            </ul>
        </li>

    <!-- Kaaba Geographic Settings - Hide for ROLE_USER -->
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <li class="sidebar-item">
                                <a class="sidebar-link has-arrow" href="javascript:void(0)" aria-expanded="false">
                                    <div class="round-16 d-flex align-items-center justify-content-center">
                                        <i class="ti ti-map"></i>
                                    </div>
                                    <span class="hide-menu">Geographic</span>
                                </a>
                                <ul aria-expanded="false" class="collapse second-level">
                                    <li class="sidebar-item">
                                        <a href="{{ path('app_admin_kaaba_regions') }}" class="sidebar-link">
                                            <div class="round-16 d-flex align-items-center justify-content-center">
                                                <i class="ti ti-map-pin"></i>
                                            </div>
                                            <span class="hide-menu">Regions</span>
                                        </a>
                                    </li>
                                    <li class="sidebar-item">
                                        <a href="{{ path('app_admin_kaaba_districts') }}" class="sidebar-link">
                                            <div class="round-16 d-flex align-items-center justify-content-center">
                                                <i class="ti ti-location"></i>
                                            </div>
                                            <span class="hide-menu">Districts</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        {% endif %}

                        <!-- Kaaba Scholarship Settings - Hide for ROLE_USER -->
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <li class="sidebar-item">
                                <a href="{{ path('app_admin_kaaba_scholarships') }}" class="sidebar-link">
                                    <div class="round-16 d-flex align-items-center justify-content-center">
                                        <i class="ti ti-award"></i>
                                    </div>
                                    <span class="hide-menu">Scholarships</span>
                                </a>
                            </li>
                        {% endif %}

                        <!-- Kaaba Identity Settings - Hide for ROLE_USER -->
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <li class="sidebar-item">
                                <a href="{{ path('app_admin_kaaba_identity_types') }}" class="sidebar-link">
                                    <div class="round-16 d-flex align-items-center justify-content-center">
                                        <i class="ti ti-id"></i>
                                    </div>
                                    <span class="hide-menu">Identity Types</span>
                                </a>
                            </li>
                        {% endif %}
                
              </ul>
            </li>
							{% endif %}
							{% if is_granted('ROLE_EMPLOYER') %}

								<li class="sidebar-item">
									<a class="sidebar-link" href="{{path('app_admin')}}" id="get-url" aria-expanded="false">
										<span>
											<i class="ti ti-layout-grid"></i>
										</span>
										<span class="hide-menu">Dashboard</span>
									</a>
								</li>

								<li class="sidebar-item">
									<a class="sidebar-link" href="{{path('app_employer_jobs')}}" aria-expanded="false">
										<span>
											<i class="ti ti-briefcase"></i>
										</span>
										<span class="hide-menu">Jobs</span>
									</a>
								</li>
								<li class="sidebar-item">
									<a class="sidebar-link" href="{{path('app_employer_candidates')}}" aria-expanded="false">
										<span>
											<i class="ti ti ti-list-details"></i>
										</span>
										<span class="hide-menu">Candidates</span>
									</a>
								</li>
								<li class="sidebar-item">
									<a class="sidebar-link" href="{{path('app_employer_manualCandidates')}}" aria-expanded="false">
										<span>
											<i class="ti ti ti-list-details"></i>
										</span>
										<span class="hide-menu">Manually Shortlisted</span>
									</a>
								</li>
								<li class="sidebar-item">
									<a class="sidebar-link" href="{{path('app_employer_autoshortlisted')}}" aria-expanded="false">
										<span>
											<i class="ti ti ti-list-details"></i>
										</span>
										<span class="hide-menu">Automatically Shortlisted</span>
									</a>
								</li>
								<li class="sidebar-item">
									<a class="sidebar-link" href="{{path('app_employer_recommended_candidates')}}" aria-expanded="false">
										<span>
											<i class="ti ti ti-list-details"></i>
										</span>
										<span class="hide-menu">Recommended Candidates</span>
									</a>
								</li>
								<li class="sidebar-item">
									<a class="sidebar-link" href="{{path('app_employer_cvCenter')}}" aria-expanded="false">
										<span>
											<i class="ti ti-file-text"></i>
										</span>
										<span class="hide-menu">Find Resumes/CVs</span>
									</a>
								</li>
								<li class="sidebar-item">
									<a class="sidebar-link" href="{{path('app_employer_interviews')}}" aria-expanded="false">
										<span>
											<i class="ti ti-user"></i>
										</span>
										<span class="hide-menu">Interviews</span>
									</a>
								</li>
								<li class="sidebar-item">
									<a class="sidebar-link" href="{{path('app_employer_tenders')}}" aria-expanded="false">
										<span>
											<i class="ti ti-folder"></i>
										</span>
										<span class="hide-menu">Tender/Bid</span>
									</a>
								</li>
								<li class="sidebar-item">
									<a class="sidebar-link" href="{{path('app_employer_courses')}}" aria-expanded="false">
										<span>
											<i class="ti ti-book"></i>
										</span>
										<span class="hide-menu">Course</span>
									</a>
								</li>
								<li class="sidebar-item">
              <a class="sidebar-link has-arrow" href="javascript:void(0)" aria-expanded="false">
                <span class="d-flex">
                  <i class="ti ti-settings"></i>
                </span>
                <span class="hide-menu">Settings</span>
              </a>
              <ul aria-expanded="false" class="collapse first-level">
                <li class="sidebar-item">
                  <a href="{{path('app_employer_settings')}}" class="sidebar-link">
                    <div class="round-16 d-flex align-items-center justify-content-center">
                      <i class="ti ti-circle"></i>
                    </div>
                    <span class="hide-menu">Plans & Subscription</span>
                  </a>
                </li>
                <li class="sidebar-item">
                  <a href="{{path('app_employer_settings_billing_history')}}" class="sidebar-link">
                    <div class="round-16 d-flex align-items-center justify-content-center">
                      <i class="ti ti-file-dollar"></i>
                    </div>
                    <span class="hide-menu">Billing History</span>
                  </a>
                </li>
                <li class="sidebar-item">
                  <a href="{{path('app_employer_company_settings')}}" class="sidebar-link">
                    <div class="round-16 d-flex align-items-center justify-content-center">
                      <i class="ti ti-circle"></i>
                    </div>
                    <span class="hide-menu">Register/Edit</span>
                  </a>
                </li>
                <li class="sidebar-item">
                  <a href="{{path('app_employer_account_settings')}}" class="sidebar-link">
                    <div class="round-16 d-flex align-items-center justify-content-center">
                      <i class="ti ti-circle"></i>
                    </div>
                    <span class="hide-menu">Account Settings</span>
                  </a>
                </li>
                
              </ul>
            </li>
								<li class="sidebar-item">
									<a class="sidebar-link" href="{{path('app_employer_contacts')}}" aria-expanded="false">
										<span>
											<i class="ti ti-phone"></i>
										</span>
										<span class="hide-menu">Contact us</span>
									</a>
								</li>
								<li class="sidebar-item">
									<a class="sidebar-link" href="{{path('app_employer_ps_inquiery')}}" aria-expanded="false">
										<span>
											<i class="ti ti-list"></i>
										</span>
										<span class="hide-menu">Psychometric Inquiry</span>
									</a>
								</li>

	<li class="sidebar-item">
									<a class="sidebar-link" href="{{path('app_internal_staff')}}" aria-expanded="false">
										<span>
											<i class="ti ti-users"></i>
										</span>
										<span class="hide-menu">Internal Staff</span>
									</a>
								</li>
							{% endif %}
						</ul>
					</nav>

					<div class="loader-div">
						<img class="loader-img" src="{{ asset('assets/images/hero-logo.png') }}" style="height: 424px;width: auto;"/>
					</div>


					<!-- ---------------------------------- -->
				<!-- Start Vertical Layout Sidebar -->
					<!-- ---------------------------------- -->
				</div>
			</aside>
			<!--  Sidebar End -->
			<div
				class="page-wrapper">
				<!--  Header Start -->
				<header class="topbar">
					<div class="with-vertical">
						<!-- ---------------------------------- -->
						<!-- Start Vertical Layout Header -->
						<!-- ---------------------------------- -->
							<nav class="navbar navbar-expand-lg p-0"> <ul class="navbar-nav">
								

							</ul>


							<div class="d-block d-lg-none py-4">
								<a href="/" class="text-nowrap logo-img">
									<img src="{{ asset('assets/images/logo-dark.png') }}" class="dark-logo" alt="Logo-Dark"/>
								</a>
							</div>
							<a class="navbar-toggler nav-icon-hover-bg rounded-circle p-0 mx-0 border-0" href="javascript:void(0)" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
								<i class="ti ti-dots fs-7"></i>
							</a>
							<div class="collapse navbar-collapse justify-content-end" id="navbarNav">
								<div
									class="d-flex align-items-center justify-content-between">
									{# <a href="javascript:void(0)" class="nav-link nav-icon-hover-bg rounded-circle mx-0 ms-n1 d-flex d-lg-none align-items-center justify-content-center" type="button" data-bs-toggle="offcanvas" data-bs-target="#mobilenavbar" aria-controls="offcanvasWithBothOptions">
																																														<i class="ti ti-align-justified fs-7"></i>
																																													</a> #}
									<ul class="navbar-nav flex-row ms-auto align-items-center justify-content-center">
										<!-- ------------------------------- -->
										<!-- start language Dropdown -->
										<!-- ------------------------------- -->
											
										<!-- <li class="nav-item mmm">

											<a href="{{path('app_employer_messages')}}">
												<i class="ti ti-message-dots awa"></i>
												Messages
											</a>
										</li> -->
										<li class="nav-item mmm">
											<a href="{{ path('app_employer_notifications_list')}}">
												<i class="ti ti-bell-ringing awa"></i>
												Notifications</a>
										</li>
										<!-- start profile Dropdown -->
										<!-- ------------------------------- -->
										<li class="nav-item dropdown">
											<a class="nav-link pe-0" href="javascript:void(0)" id="drop1" aria-expanded="false">
												<div class="d-flex align-items-center">
													<div class="user-profile-img">

														{% if app.user.employerDetails %}
															<img src="{{ asset('assets/images/hero-logo.png') }}" class="rounded-circle" width="35" height="35" alt="logo-img"/>
														{% else %}
															<img src="{{ asset('assets/images/hero-logo.png') }}" class="rounded-circle" width="35" height="35" alt="logo-img"/>
														{% endif %}
													</div>
												</div>
											</a>
											<div class="dropdown-menu content-dd dropdown-menu-end dropdown-menu-animate-up" aria-labelledby="drop1">
												<div class="profile-dropdown position-relative" data-simplebar>
													<div class="py-3 px-7 pb-0">
														<h5 class="mb-0 fs-5 fw-semibold">User Profile</h5>
													</div>
													<div class="d-flex align-items-center py-9 mx-7 border-bottom">


														{% if app.user.employerDetails %}
															<img src="{{ asset('assets/images/hero-logo.png') }}" class="rounded-circle" width="80" height="80" alt="logo-img"/>
														{% else %}
															<img src="{{ asset('assets/images/hero-logo.png') }}" class="rounded-circle" width="80" height="80" alt="logo-img"/>
														{% endif %}
														<div class="ms-3">
															<h5 class="mb-1 fs-3">{{  app.user.name }}</h5>
														</div>
													</div>
													<div class="message-body">
														<a href="{{path('app_employer_account_settings')}}" class="py-8 px-7 mt-8 d-flex align-items-center">
															<span class="d-flex align-items-center justify-content-center text-bg-light rounded-1 p-6">
																<img src="{{ asset("assets/de/images/svgs/icon-account.svg") }}" alt="logo-img" width="24" height="24"/>
															</span>
															<div class="w-100 ps-3">
																<h6 class="mb-1 fs-3 fw-semibold lh-base">My Profile</h6>
																<span class="fs-2 d-block text-body-secondary">Account Settings</span>
															</div>
														</a>
														
													</div>
													<div class="d-grid py-4 px-7 pt-8">
														<a href="/logout" class="btn btn-outline-primary">Log Out</a>
													</div>
												</div>
											</div>
										</li>
										<!-- ------------------------------- -->
									<!-- end profile Dropdown -->
										<!-- ------------------------------- -->
									</ul>
								</div>
							</div>
						</nav>
						<!-- ---------------------------------- -->
					<!-- End Vertical Layout Header -->
						<!-- ---------------------------------- -->


					</div>
				</header>
				<!--  Header End -->

				<aside
					class="left-sidebar with-horizontal">
					<!-- Sidebar scroll-->
					<div>
					
					</div>
					<!-- End Sidebar scroll-->

				</aside>
				{% set ratingImagePath = asset("assets/de/images/rating") %}
				<div class="body-wrapper"> {% block body %}{% endblock %}
					</div>
					
				</div>

			</div>

			{# Approval Modal #}
			<div class="modal fade" id="approveModal" tabindex="-1" role="dialog" aria-labelledby="approveModal" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered modal-xl" role="document">
					<div class="modal-content">
						<div class="modal-header  bg-light">
							<h5 class="modal-title" id="approveLabel"></h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
								<span aria-hidden="true"></span>
							</button>
						</div>
						<div class="modal-body" id="approveModalBody"></div>

					</div>
				</div>
			</div>
			{# End approval modal #}

			{# General Modal Start #}
			<div class="modal fade" id="generalModal" tabindex="-1" role="dialog" aria-labelledby="generalModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-xl" style="width: 115%">
					<div class="modal-content">
						<div class="modal-header bg-light">
							<h5 class="modal-title" id="generalModalLabel"></h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
								<span aria-hidden="true"></span>
							</button>
						</div>
						<div class="modal-body" id="generalModalBody"></div>
					</div>
				</div>
			</div>
			{# General Modal End #}

			


		
			

			<div class="dark-transparent sidebartoggler"></div>
			<script src="{{ asset('assets/de/js/vendor.min.js') }}"></script>
			<!-- Import Js Files -->


			<!-- solar icons --><script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"> </script>

			<script src="{{ asset('assets/de/js/apps/invoice.js') }}"></script>
			<script src="{{ asset('assets/de/js/apps/jquery.PrintArea.js') }}"></script>

			<script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
			<script src="{{ asset('assets/de/libs/jquery-steps/build/jquery.steps.min.js') }}"></script>
			<script src="{{ asset('assets/de/libs/jquery-validation/dist/jquery.validate.min.js') }}"></script>
			<script src="{{ asset('assets/de/js/forms/form-wizard.js') }}"></script>

			<script src="{{ asset('assets/de/libs/select2/dist/js/select2.full.min.js') }}"></script>
			<script src="{{ asset('assets/de/libs/select2/dist/js/select2.min.js') }}"></script>
			<script src="{{ asset('assets/de/js/forms/select2.init.js') }}"></script>


			<script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
			<script src="{{ asset('assets/de/libs/datatables.net/js/jquery.dataTables.min.js') }}"></script>
			<script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
			<script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
			<script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js"></script>


			<script src="{{ asset('assets/de/js/datatable/datatable-advanced.init.js') }}"></script>


			<script>
				var ratingImagePath = '{{ ratingImagePath }}';

$(function () {
$.fn.raty.defaults.path = ratingImagePath;
});
			</script>
			<!-- solar icons -->
			<script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
			<script src="{{ asset('assets/de/js/plugins/bootstrap-validation-init.js') }}"></script>
			<script src="{{ asset('assets/de/libs/jquery-raty-js/lib/jquery.raty.js') }}"></script>
			<script src="{{ asset('assets/de/js/plugins/rating-init.js') }}"></script>

			<script src="{{ asset('assets/de/libs/simplebar/dist/simplebar.min.js') }}"></script>
			<script src="{{ asset('assets/de/js/theme/app.init.js') }}"></script>
			<script src="{{ asset('assets/de/js/theme/theme.js') }}"></script>
			<script src="{{ asset('assets/de/js/theme/app.min.js') }}"></script>
			<script src="{{ asset('assets/de/js/theme/sidebarmenu.js') }}"></script>

			<script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
			<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
			{# <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>  #}

			<script type="module">
				// Assuming a static path

async function getRoutes() {
try {
const response = await fetch('{{ asset('assets/routes.json') }}');
if (! response.ok) {
throw new Error(`Failed to fetch routes: ${
response.status
}`);
}
const routes = await response.json();
Routing.setRoutingData(routes);
} catch (error) {
console.error('Error fetching routes:', error);
// Handle the error gracefully (e.g., display an error message)
}
}

getRoutes();

			</script>
		</body>

	</html>  